<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gdte.tripko">

    <application
        android:name=".app.AppMediator"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <activity android:name=".conversormoneda.Conversor_MonedaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".elegiridioma.Elegir_IdiomaActivity" />
        <activity android:name=".menuprincipal.Menu_PrincipalActivity" />
        <activity android:name=".sobrecorea.Sobre_CoreaActivity" />
        <activity android:name=".entretenimiento.EntretenimientoActivity" />
        <activity android:name=".sitiosturisticos.Sitios_TuristicosActivity" />
        <activity android:name=".clima.ClimaActivity" />
        <activity android:name=".cultura.CulturaActivity" />
        <activity android:name=".tiposdesitiosturisticos.Tipos_De_Sitios_TuristicosActivity" />
        <activity android:name=".ciudadesprincipales.Ciudades_PrincipalesActivity" />
        <activity android:name=".gastronomiaregiones.Gastronomia_RegionesActivity" />
        <activity android:name=".gastronomialist.GastronomiaListActivity" />
        <activity android:name=".gastronomiadetaillist.Gastronomia_Detail_ListActivity" />
        <activity android:name=".contactosdeinteres.Contactos_De_InteresActivity" />
        <activity android:name=".transportecategory.Transporte_CategoryActivity" />
    </application>
</manifest>