<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gdte.tripko">

    <application
        android:name=".app.AppMediator"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".elegiridioma.Elegir_IdiomaActivity" />
        <activity android:name=".menuprincipal.Menu_PrincipalActivity" />
        <activity android:name=".sobrecorea.Sobre_CoreaActivity" />
        <activity android:name=".entretenimiento.EntretenimientoActivity" />
        <activity android:name=".sitiosturisticos.Sitios_TuristicosActivity" />
        <activity android:name=".clima.ClimaActivity" />
        <activity android:name=".cultura.CulturaActivity" />
        <activity android:name=".tiposdesitiosturisticos.Tipos_De_Sitios_TuristicosActivity" />
        <activity android:name=".ciudadesprincipales.Ciudades_PrincipalesActivity" />
        <activity android:name=".regiones.RegionesActivity" />
        <activity android:name=".comidarestaurante.Comida_RestauranteListActivity" />
        <activity android:name=".comidarestaurantedetail.Comida_restaurante_detailActivity" />
    </application>

</manifest>